{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-page page">
        {# SLIDER #}
        <div id="carouselHomePage" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item item-1 active">
                    <div class="content">
                        <div>
                            <h1>Bienvenue !</h1>
                            <p>Découvre les meilleurs figures de snowboards !</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item-2">
                    <div class="content">
                        <div>
                            <h1>Bienvenue !</h1>
                            <p>Découvre les meilleurs figures de snowboards !</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item item-3">
                    <div class="content">
                        <div>
                            <h1>Bienvenue !</h1>
                            <p>Découvre les meilleurs figures de snowboards !</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHomePage" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHomePage" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        {# LES FIGURES #}
        <div class="container" id="all_figures">
            <h1>Les figures</h1>
            {% if app.user != null %}
                <br>
                <div class="figure-list-gest-links">
                    <a href="{{path('add_figure')}}">Ajouter une figure <i class="fas fa-plus"></i></a> &nbsp;
                    <a href="{{path('add_group')}}">Ajouter un groupe de figures <i class="fas fa-plus"></i></a>
                </div>
                </br>
            {% endif %}
            {% include 'figure/list.html.twig' with {'figures' : figures} %}
        </div>
    </div> 

    {% include 'modal.html.twig' with {'idName' : 'remove-figure-modal'} %}

{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/home_page.js')}}"></script>
    <script src="{{asset('assets/js/remove_figures.js')}}"></script>
{% endblock %}
