.figure_medias_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 20px auto 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
    height: 200px;
    transition: all 0.5s;
    position: relative;
    background-color: #E5E7E9;
    padding: 5px 20px;
}

.figure_medias_list .item {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.figure_medias_list .item .content {
    max-height: 100%;
    overflow: hidden;
}

.figure_medias_list .item .click {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
}

.figure_medias_list .show_more_medias {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--agl-primary-color);
    border: solid 1px var(--agl-primary-color);
    color: white!important;
    transition: all 0.5s;
    z-index: 20;
}

.figure_medias_list .show_more_medias:hover {
    color: var(--agl-primary-color)!important;
    background-color: white;
    text-decoration: none;
}
