<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>SnowTricks &copy; {{ "now"|date("Y") }} - Réalisé pour un projet OpenClassrooms par <a href="http://www.agl-laborie.ovh/" target="_blank">Anthony LABORIE</a></p>
            </div>
        </div>
    </div>
</div>


