{% extends 'base.html.twig' %}

{% block title %}M'inscrire{% endblock %}

{% block body %}

<div class="login-page">
    <h1>Se connecter</h1>
    <form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <input type="email" id="email" class="form-control" name="_username" value="{{ last_username }}" placeholder="Adresse email"/>
    </div>
    <div class="form-group">
        <input type="password" id="password" class="form-control" name="_password" placeholder="Mot de passe"/>
    </div>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Identifiant ou mot de passe incorrect !
            </div>
        {% endif %}

    <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <br>
    <p>Toujours pas de compte chez nous ? <a href="{{ path('signup') }}">Inscrivez-vous !</a></p>
</div>
{% endblock %}
